<div class="row">     
    <div class="col-md-12">           
        <h2>Employees</h2>           
        <hr /> 
 
        {{#each departments}}
            {{departmentId}}&nbsp;{{departmentName}}
            <hr />
        {{/each}}

 
    </div> 
</div